<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/vue3.js"></script>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <div id="app">
        <h1>Lista de Tareas</h1>
        <input v-model="nuevaTarea" @keyup.enter="agregarTarea" placeholder="Agrega una tarea">
        <button @click="agregarTarea">Agregar</button>
        <ul>
            <li v-for="(tarea,indice) in tareas":key="indice">
                <input type="checkbox" v-model="tarea.completada">
                <span :class="{completada: tarea.completada}">{{tarea.texto}}</span>
                <button @click="eliminarTarea(indice)">Eliminar</button>
            </li>
        </ul>
        <p>Progreso: {{progreso}}%</p>
        <div class="contenedor-progreso">
            <div class="barra-progreso":style="{width:progreso+'%'}"></div>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>
